/*CSS dos Controles*/

.controles{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 100px;
	background: url('../assets/Bg-prata.jpg');
	padding: 10px;
	margin-bottom: 10px;
}
.controles button{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	font-size: 2rem;
	background-color:#423e3e;
	border:6px solid #776e6e;
	color: white;
	cursor: pointer;
}
.controles button.destaque{
border-color: #22f522;
background-color: rgb(59, 68, 80);

}

.controles .mostrador{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #22f522;
	border: 10px solid gray;
	height: 100%;
	width: 150px;
	border-radius: 5px;
	font-size: 2.5em;
}